@font-face {
    font-family: San-francisco;
    src: url("../fonts/san-francisco.woff");
}

*{
    margin: 0;
    padding: 0;
}
html, body {
    background: darkslateblue;
}

@import "blocks/site-wrap/site-wrap";